* {
    background-color: #d8c99b;
    font-family: 'Oswald', 'Roboto Condensed', Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-decoration: none;
}

body {
    color: #8a4545;
    text-decoration: none;
}

#navbar {
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    margin: auto;
    max-width: 70%;
}

#navtitle {
    font-size: 50px;
    margin: auto;
    color: #273e47;
    /* background-color: white; */
}

#navlist button {
    background-color: #be776b;
    padding: 1%;
}

button a {
    font-size: x-large;
    color: #4d4841;
    background-color: #be776b;
}

#searchForm * {
    margin-left: 10px;
    margin-top: 10px;
}

#searchbar {
    width: 70%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: white;
    border: 1px solid black;
}

#searchForm button {
    padding: 1%;
}

@media only screen and (max-width: 768px) {
    #navtitle {
        font-size: 35px;
    }

    #navlist button {
        background-color: #be776b;
        padding: 5%;
        margin: 1%;
    }
}